<launch>

  <!-- usb camera -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log" >
    <param name="camera_frame_id" value="usb_cam" />
    <param name="camera_info_url" type="string" value="package://calibrated_ur5/usbcameradata/ost.yaml" />
    <param name="pixel_format" value="yuyv"/>
    <param name="io_method" value="mmap"/>
  </node>


<!-- 

  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="log">
    <param name="camera_name" value="elecom_ucam"/>
    <param name="camera_frame_id" value="camera_link"/>
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="io_method" value="mmap"/>
  </node>
  -->

  <arg name="marker_size" default="3.8" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/usb_cam/image_raw" />
  <arg name="cam_info_topic" default="/usb_cam/camera_info" />
  <arg name="output_frame" default="/usb_cam" />
 

  <!-- ar tracker node -->
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="log"
    args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) 
          $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />


  <!-- ar block finder -->
  <!-- rsj is deprecated ; it requires chess board 
  <node name="block_finder" pkg="rsj_2017_block_finder" type="block_finder" output="log">
    <remap from="/camera/camera_info" to="$(arg cam_info_topic)"/>
    <remap from="/camera/image_raw" to="$(arg cam_image_topic)"/>
  </node>
  -->

  <!-- ar block finder -->
  <node name="block_finder" pkg="ar_block_finder" type="ar_block_finder_node" output="log">

  </node>


  <!-- pickandplace -->
  <node name="pickandplace" pkg="rsj_2017_pick_and_placer" type="rsj_2017_pick_and_placer_node" output="log">
    <remap from="/block" to="/ar_block_finder/pose"/>
    <remap from="/crane_x7/gripper_controller/gripper_cmd/" to="/gripper_controller/gripper_cmd/" />
  </node>


  <!-- setting static tf for the usb-camera -->
  <arg name="pi" value="3.14159265" />
  <arg name="yaw" default="$(eval 0.5 * arg('pi'))" />
  <arg name="roll" default="$(arg pi)" />
  <arg name="zshift" default="0.02" />


  <node pkg="tf" type="static_transform_publisher" name="usbcam_to_frame" output="log"
    args="0 0 $(arg zshift) $(arg yaw) 0 $(arg roll) top_camera usb_cam 10" />

  <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
 
 </launch>
